@use '../../style/mixins' as mxn;

.container-hard-skills {
	@include mxn.flex(column);
	color: var(--green);
	h1 {
		@include mxn.title(var(--orange));
		align-self: flex-start;
	}
	.exposant {
		font-size: 1rem;
		font-style: italic;
		align-self: flex-start;
	}
	.exposant,
	ul {
		color: var(--color-text);
	}
	.list-wrapper {
		@include mxn.flex(column, 2rem);
		align-items: flex-start;
		padding: 20px;
		ul {
			text-transform: uppercase;
			font-weight: 300;
			padding: 0 40px;
		}
		@media all and (min-width: 425px) {
			max-width: 360px;
		}
		@media all and (min-width: 768px) {
			max-width: 100%;
			@include mxn.flex(row);
			align-items: flex-start;
		}
	}
	.list-footer {
		@include mxn.flex(column, 2rem);
		.link-wrapper {
			.btn {
				@include mxn.large-btn;
			}
			@media all and (min-width: 425px) {
				@include mxn.flex(row);
			}
			@media all and (min-width: 768px) {
				gap: 20px;
			}
		}
	}
}
.container-soft-skills {
	@include mxn.flex(column);
	background-color: var(--light);

	h1 {
		@include mxn.title(var(--green));
		align-self: flex-start;
	}
	.list-wrapper {
		@include mxn.flex(column, 4rem);
		ul {
			flex: 1 0;
			li {
				text-transform: uppercase;
				font-weight: 300;
				line-height: 2;
				&:nth-child(2),
				&:nth-child(7) {
					margin-left: 5rem;
				}
				&:nth-child(3),
				&:nth-child(6) {
					margin-left: 8rem;
				}
				&:nth-child(4),
				&:nth-child(5) {
					margin-left: 11rem;
				}
			}
		}
		a {
			@include mxn.flex(column, 1rem);
			.img {
				--size: 64px;
				width: var(--size);
				height: var(--size);
				@media all and (min-width: 768px) {
					--size: 80px;
				}
				@media all and (min-width: 768px) {
					--size: 100px;
				}
			}
			span {
				&:first-child {
					color: var(--green);
				}
				&:last-child {
					color: var(--orange);
				}
			}
			@media all and (min-width: 1024px) {
				gap: 2rem;
				width: 50%;
			}
		}
		@media all and (min-width: 1024px) {
			@include mxn.flex(row-reverse, 4rem);
		}
	}
	@media all and (min-width: 1024px) {
		padding: 0 80px;
	}
}
