@use '../../style/mixins' as mxn;

.container {
	@include mxn.flex(column, 0);
	justify-content: space-between;
	.wrapper {
		@include mxn.flex(row, 0);
		justify-content: space-between;
		height: fit-content;
		padding: 2rem 20px;
		background-color: var(--light);
		@media all and (min-width: 768px) {
		}
		.logo {
			width: 70%;
			letter-spacing: 1px;
			h1 {
				color: var(--green);
				text-align: left;
				margin: 5px 0;
			}
			p {
				color: var(--orange);
				line-height: 1;
			}
		}
		.burger,
		.close {
			width: 64px;
			height: 64px;
			cursor: pointer;
			border: none;
			background-color: transparent;
			position: relative;
			&:before {
				@include mxn.absolute(50%, 50%);
			}

			@media all and (min-width: 1024px) {
				display: none;
			}
		}
		.burger:before {
			content: url('../../assets/icons/burger.svg');
		}
		.close:before {
			content: url('../../assets/icons/close.svg');
		}
	}

	nav {
		@include mxn.flex(column, 2rem);
		justify-content: center;
		padding: 4rem 0;
		background-color: var(--light);
		transition: 0.45s all ease-in-out;
		// z-index: 10;
		&.display {
			// transform: translate(0%);
			transform: scaleX(1);
		}
		&.hidden {
			// transform: translateX(100%);
			transform-origin: right;
			transform: scaleX(0);
		}
		a {
			color: var(--green);
			&:hover {
				color: var(--orange);
			}
		}
		.btn {
			// margin: 0 0.5rem;
			font-size: 1.2rem;
			font-weight: 700;
			letter-spacing: 1px;
			padding: 1rem;
			color: var(--light);
			border-radius: 50%;
			background-color: var(--orange);
			&:hover {
				color: var(--light);
				background-color: var(--green);
				@include mxn.filter(var(--green));
			}
		}

		@media all and (min-width: 1024px) {
			@include mxn.flex(row, 20px);
			height: 117px;
			padding: 0 20px;
			&.display,
			&.hidden {
				transform: scaleX(1);
			}
		}
	}
	@media all and (min-width: 900px) {
		@include mxn.flex(row, 0);
	}
}
