@use './mixins' as mxn;

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	overflow: hidden;
	font-family: var(--font-family-default);
	font-size: var(--font-size-default-mobile);
	line-height: 1.7;
	color: var(--color-text);
	background-color: var(--bg-color);
	#root {
		@include mxn.flex(column);
		main {
			overflow-y: auto;
			overflow-x: hidden;
			height: 80vh;
			@include mxn.flex(column, 4rem);
			section {
				&:not(.container-full) {
					max-width: var(--max-width);
					padding: 20px;
				}
			}
			@media all and (min-width: 425px) {
				//Scrollbar Chrome
				&::-webkit-scrollbar {
					width: 8px;
				}
				&::-webkit-scrollbar-track {
					background: var(--bg-color);
					margin-block: 6rem;
					box-shadow: inset 0 0 1px #32120e;
					border-radius: 10px;
				}
				&::-webkit-scrollbar-thumb {
					background: rgb(108, 132, 126);
					background: linear-gradient(
						0deg,
						rgba(108, 132, 126, 1) 0%,
						rgba(254, 249, 239, 1) 100%
					);
					border-radius: 10px;
					box-shadow: inset 0 0 0px 2px black;
					&:hover {
						box-shadow: none;
						background: rgb(188, 83, 59);
						background: linear-gradient(
							184deg,
							rgba(188, 83, 59, 1) 0%,
							rgba(254, 249, 239, 1) 100%
						);
					}
				}
			}
		}
	}
	@media all and (min-width: 1024px) {
		font-size: var(--font-size-default);
	}
}

//TITLES
h1,
h2 {
	text-align: left;
}
h1 {
	font-size: var(--font-size-title-mobile);
	@media all and (min-width: 728px) {
		font-size: var(--font-size-title);
	}
}
h2 {
	font-size: var(--font-size-subtitle-mobile);
	@media all and (min-width: 728px) {
		font-size: var(--font-size-subtitle);
	}
}

//LINKS
a {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-text);
	transition: all 200ms linear;
	&:hover {
		font-weight: bold;
	}
}
