:root {
	--light: #fef9ef;
	--green: #587970; //a11y contrast 4.79 / white & 4.56 / light => AA
	--orange: #c74123; //a11y contrast 4.98 / white & 4.75 / light => AA
	--white: white;
	--bg-color: var(--white);
	--color-text: #32120e; //a11y contrast AAA / white & AAA / light => AAA - never use on other colors
	--font-family-default: 'Roboto', sans-serif;
	--border-radius: 4px;
	--font-size-default: 1.6rem;
	--font-size-title: 3rem;
	--font-size-subtitle: 2.5rem;
	--font-size-default-mobile: 1.4rem;
	--font-size-title-mobile: 2.2rem;
	--font-size-subtitle-mobile: 1.8rem;
	--font-size-default-button: 1.3rem;
	--max-width: 900px;
}
