:root {
	--light: #fef9ef;
	--green: #5f7c74; //a11y contrast 4.5 / white & 4.62 / black => AA
	--orange: #c74e33; //a11y contrast 4.59 / white & 4.56 / black => AA
	--white: white;
	--bg-color: var(--white);
	--color-text: #32120e; //a11y contrast AAA / white & AAA / light => AAA - never use on other colors
	--font-family-default: 'Roboto', sans-serif;
	--border-radius: 4px;
	--font-size-default: 1.6rem;
	--font-size-title: 3rem;
	--font-size-subtitle: 2.5rem;
	--font-size-default-mobile: 1.4rem;
	--font-size-title-mobile: 2.2rem;
	--font-size-subtitle-mobile: 1.8rem;
	--font-size-default-button: 1.3rem;
	--max-width: 900px;
	// --mobile: 425px; //L
	// --tablet: 768px;
	// --laptop: 1024px;
}
