@use '../../style/mixins' as mxn;

.container {
	@include mxn.flex(column);
	justify-content: space-between;
	height: 117px;
	z-index: 10;
	.wrapper {
		@include mxn.flex(row);
		justify-content: space-between;
		height: fit-content;
		padding: 2rem 20px;
		background-color: var(--light);
		@media all and (min-width: 768px) {
		}
		.logo {
			width: 70%;
			letter-spacing: 1px;
			h1 {
				color: var(--green);
				margin: 5px 0;
			}
			p {
				color: var(--orange);
				line-height: 1;
			}
		}
		.burger,
		.close {
			width: 64px;
			height: 64px;
			cursor: pointer;
			border: none;
			background-color: transparent;
			position: relative;
			&:before {
				@include mxn.absolute;
			}

			@media all and (min-width: 1024px) {
				display: none;
			}
		}
		.burger:before {
			content: url('../../assets/icons/burger.svg');
		}
		.close:before {
			content: url('../../assets/icons/close.svg');
		}
	}

	nav {
		@include mxn.flex(column, 2rem);
		justify-content: center;
		padding: 4rem 0;
		background-color: var(--light);
		transition: 0.65s all ease-in-out;
		z-index: -10;
		&.display {
			transform: translateY(0%);
		}
		&.hidden {
			transform: translateY(-150%);
		}
		a {
			color: var(--green);
			&:hover,
			&:active {
				color: var(--orange);
			}
		}
		.btn {
			@include mxn.btn(var(--orange), var(--green));
		}
		@media all and (min-width: 1024px) {
			@include mxn.flex(row, 20px);
			height: 117px;
			padding: 0 20px;
			&.display,
			&.hidden {
				transform: translateY(0%);
			}
		}
	}
	@media all and (min-width: 1024px) {
		@include mxn.flex(row);
	}
}
